*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1000px;
    height: 100vh;
    background-color: cadetblue;
    margin: 0 auto;
}

.gallery-name{
    font-size: 36px;
    text-align: center;
    margin-bottom: 28px;
    color: #ffee18;
}

.gallery{
    display: flex;
    justify-content: space-evenly;
}

.gallery__item{
    width: 250px;
}

@media  and (max-width: 390px) {
    .container{ 
    background-color: chocolate;
    }

    .gallery{
        flex-direction
    }
}